[user]
	name = Alex Martin
	email = alex@suitupalex.com

[alias]
  plog = log --graph --all --oneline --decorate
[core]
	excludesfile = ~/.gitignore_global
	filemode = false
	eol = lf
	autocrlf = input
[color]
	ui = true
